/* LandingPage.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*overflow: hidden;*/
}
/* full high*/
html,
body,
#root {
  height: 100%;
}

.app-container {
  height: 100%;
  overflow: hidden; /* no scrolling */
}

.landing-page {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}

.background-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/images/ground.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  height: 100vh;
  width: 100vw;
  padding-left: 80px;            
  padding-right: 80px;           
  backdrop-filter: blur(4px);
  background-color: rgba(0,0,0,0.5);
  gap: 60px;  
}

.landing_content {
    max-width: 360px;
    text-align: left;
    z-index: 1;
  }

.content p,
.content h1 {
  color: white;
}

.content h1 {
  font-size: 40px;
  line-height: 1.1;
  margin-bottom: 12px;
}

.content p {
  font-size: 20px;
}

.divider {
  width: 60px;
  height: 3px;
  background-color: #4caf50;
  margin: 16px 0;
}

.get-started-button {
  padding: 14px 30px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 28px;
}

.get-started-button:hover {
  background-color: #45a049;
}
/* AboutUs on right */
.aboutus_container {
    max-width: 600px;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    z-index: 1;
  }

/* ProductList.css */

.product-list-container {
    position: fixed;        
    top: 100vh;          
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    transition: top 0.5s ease;
    overflow-y: auto;        
    z-index: 2;
    backdrop-filter: blur(5px);
  }

.product-list-container.visible {
  top: 0;
}
/* LandingPage.css */
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
  }

  .landing_content,
  .aboutus_container {
    max-width: 100%;
    text-align: center;
  }
  .content h1 {
    font-size: 32px;
  }

  .content p {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
    .content h1 {
        font-size: 28px;
      }
    
      .content p {
        font-size: 16px;
      }
}
